# Ignorar a pasta node_modules/
node_modules/

# Ignorar o arquivo .env
.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos de bloqueio
*.lock

# Ignorar o arquivo remember.md
remember.md

# Ignorar o arquivo README.MD -> Está sendo construido
README.md